@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
@charset "UTF-8";
.shop-ct-fixed-actions {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100000;
}

.shop-ct-mat-card {
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.shop-ct-mat-card .shop-ct-mat-card-title {
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
}

.shop-ct-mat-card .shop-ct-mat-card-actions {
  text-align: right;
}

.shop-ct-mat-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 60px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  color: #f64444;
  background: transparent;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop-ct-mat-button:hover, .shop-ct-mat-button:focus, .shop-ct-mat-button:active {
  color: #f64444;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop-ct-mat-button:not(.shop-ct-mat-button--raised):before {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #f64444;
}

.shop-ct-mat-button.shop-ct-mat-button--primary {
  background-color: #f64444 !important;
  color: #fff !important;
}

.shop-ct-mat-button.shop-ct-mat-button--secondary {
  color: #ffd24c;
}

.shop-ct-mat-button.shop-ct-mat-button--secondary:not(.shop-ct-mat-button--raised):before {
  background: #ffd24c;
}

.shop-ct-mat-button.shop-ct-mat-button--secondary.shop-ct-mat-button--raised {
  background-color: #ffd24c;
  color: #fff;
}

.shop-ct-mat-button:not(.shop-ct-mat-button--raised):hover:before {
  opacity: .04;
}

.shop-ct-mat-button.shop-ct-mat-button--raised {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.shop-ct-mat-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.shop-ct-mat-button.shop-ct-mat-button--round {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  padding: 0;
  line-height: 50px;
  min-width: unset;
}

.shop-ct-mat-button:disabled, .shop-ct-mat-button.shop-ct-disabled {
  color: rgba(0, 0, 0, 0.37);
}

.shop-ct-mat-input-outer-label {
  display: inline-block;
  margin-top: 35px;
  color: #757575;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.shop-ct-mat-input-text {
  position: relative;
  margin-top: 35px;
  display: inline-block;
}

.shop-ct-mat-input-text input,
.shop-ct-mat-input-text textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: transparent;
  display: block;
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  height: 24px;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 0;
  z-index: 0;
  text-align: left;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.shop-ct-mat-input-text textarea {
  height: 40px;
  min-height: 25px;
}

.shop-ct-mat-input-text input ~ span,
.shop-ct-mat-input-text textarea ~ span {
  content: '';
  display: block;
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: #f64444;
  bottom: -1px;
  height: 2px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: center center 0;
          transform-origin: center center 0;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-ct-mat-input-text input:focus ~ span,
.shop-ct-mat-input-text textarea:focus ~ span {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.shop-ct-mat-input-text input ~ label,
.shop-ct-mat-input-text textarea ~ label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
  pointer-events: none;
  bottom: 3px;
  width: 100%;
}

.shop-ct-mat-input-text input:focus ~ label,
.shop-ct-mat-input-text input:not([value=""]) ~ label {
  -webkit-transform: scale(0.75) translateY(-32px);
          transform: scale(0.75) translateY(-32px);
}

.shop-ct-mat-input-text textarea:focus ~ label,
.shop-ct-mat-input-text textarea:not(:empty) ~ label {
  font-size: 12px;
  top: -15px;
}

.shop-ct-mat-input-text input:focus ~ label,
.shop-ct-mat-input-text textarea:focus ~ label {
  color: #f64444;
}

.shop-ct-mat-input-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px;
  font-size: 16px;
  color: #757575;
}

.shop-ct-mat-input-checkbox-slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 8px;
}

.shop-ct-mat-input-checkbox-slider input[type=checkbox] {
  display: none;
}

.shop-ct-mat-input-checkbox-slider span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.shop-ct-mat-input-checkbox-slider span:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

.shop-ct-mat-input-checkbox-slider input:checked ~ span {
  background-color: #f64444;
}

.shop-ct-mat-input-checkbox-slider input:focus ~ span {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.shop-ct-mat-input-checkbox-slider input:checked ~ span:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

.shop-ct-mat-input-select {
  position: relative;
}

.shop-ct-mat-input-label,
.shop-ct-mat-input-select label {
  display: block;
  margin-bottom: 10px;
  color: #757575;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.shop-ct-mat-input-select select {
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

ul.shop-ct-mat-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: inherit;
  text-transform: inherit;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 8px 0;
  line-height: 24px;
  list-style-type: none;
}

ul.shop-ct-mat-list .shop-ct-mat-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 56px;
  padding: 0 16px;
  overflow: hidden;
}

ul.shop-ct-mat-list .shop-ct-mat-list-item .shop-ct-mat-list-item--graphic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.38);
}

ul.shop-ct-mat-list .shop-ct-mat-list-item .shop-ct-mat-list-item--meta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.38);
}

.shop-ct-mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  border-collapse: collapse;
}

.shop-ct-mat-table > thead > tr,
.shop-ct-mat-table > tbody > tr,
.shop-ct-mat-table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shop-ct-mat-table > thead > tr > th,
.shop-ct-mat-table > thead > tr > td,
.shop-ct-mat-table > tbody > tr > th,
.shop-ct-mat-table > tbody > tr > td,
.shop-ct-mat-table > tfoot > tr > th,
.shop-ct-mat-table > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shop-ct-mat-table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.shop-ct-mat-table > tfoot > tr > td {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.shop-ct-mat-table > caption + thead > tr:first-child > th,
.shop-ct-mat-table > caption + thead > tr:first-child > td,
.shop-ct-mat-table > colgroup + thead > tr:first-child > th,
.shop-ct-mat-table > colgroup + thead > tr:first-child > td,
.shop-ct-mat-table > thead:first-child > tr:first-child > th,
.shop-ct-mat-table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.shop-ct-mat-table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.shop-ct-mat-table .shop-ct-mat-table {
  background-color: #fff;
}

.shop-ct-mat-table .shop-ct-no-border {
  border: 0;
}

.shop-ct-mat-table img {
  max-width: 50px;
}

.shop-ct-mat-table-condensed > thead > tr > th,
.shop-ct-mat-table-condensed > thead > tr > td,
.shop-ct-mat-table-condensed > tbody > tr > th,
.shop-ct-mat-table-condensed > tbody > tr > td,
.shop-ct-mat-table-condensed > tfoot > tr > th,
.shop-ct-mat-table-condensed > tfoot > tr > td {
  padding: 0.8rem;
}

.shop-ct-mat-table-bordered {
  border: 0;
}

.shop-ct-mat-table-bordered > thead > tr > th,
.shop-ct-mat-table-bordered > thead > tr > td,
.shop-ct-mat-table-bordered > tbody > tr > th,
.shop-ct-mat-table-bordered > tbody > tr > td,
.shop-ct-mat-table-bordered > tfoot > tr > th,
.shop-ct-mat-table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.shop-ct-mat-table-bordered > thead > tr > th,
.shop-ct-mat-table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.shop-ct-mat-table-striped > tbody > tr:nth-child(odd) > td,
.shop-ct-mat-table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

.shop-ct-mat-table-hover > tbody > tr:hover > td,
.shop-ct-mat-table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table > thead,
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table > tfoot {
    display: none;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table > tbody {
    display: block;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }
  .shop-ct-mat-table-responsive-vertical.shop-ct-shadow-z-1 {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .shop-ct-mat-table-responsive-vertical.shop-ct-shadow-z-1 > .shop-ct-mat-table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-bordered {
    border: 0;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-striped > tbody > tr > td,
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-hover > tbody > tr:hover > td,
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-hover > tbody > tr:hover {
    background-color: #fff;
  }
  .shop-ct-mat-table-responsive-vertical > .shop-ct-mat-table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr:nth-child(odd) > td,
.shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr:nth-child(odd) > th {
  background-color: #e1f5fe;
}

.shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover > td,
.shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover > th {
  background-color: #b3e5fc;
}

@media screen and (max-width: 767px) {
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr > td,
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e1f5fe;
  }
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover > td,
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover {
    background-color: #fff;
  }
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr > td:hover {
    background-color: #b3e5fc;
  }
}

.shop-ct-popup-outer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100500;
}

.shop-ct-popup-outer .shop-ct-popup-window {
  -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 200px);
  /*min-width: 640px;*/
  /*max-width: 865px;*/
  max-width: 966px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: shopCTZoomIn;
          animation-name: shopCTZoomIn;
}

@media (max-width: 430px) {
  .shop-ct-popup-outer .shop-ct-popup-window {
    width: calc(100% - 50px);
  }
}

.shop-ct-popup-outer .shop-ct-popup-window img {
  max-width: 100%;
}

.shop-ct-popup-outer .shop-ct-popup-window.shop-ct-popup--closing {
  -webkit-animation-name: shopCTZoomOut;
          animation-name: shopCTZoomOut;
}

.shop-ct-popup-outer .shop-ct-popup-window .shop-ct-popup-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 24px 0;
}

.shop-ct-popup-outer .shop-ct-popup-window .shop-ct-popup-title-block .shop-ct-popup-title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
}

.shop-ct-popup-outer .shop-ct-popup-window .shop-ct-popup-content {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;
  margin-top: 20px;
  padding: 0 24px 24px;
}

.shop-ct-popup-outer .shop-ct-popup-window .shop-ct-popup-title-block ~ .shop-ct-popup-content {
  max-height: 300px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  overflow-y: scroll;
}

.shop-ct-popup-outer .shop-ct-popup-window .shop-ct-popup-title-block ~ .shop-ct-popup-content.shop-ct-popup-content--large {
  max-height: calc(100vh - 300px);
}

.shop-ct-popup-outer .shop-ct-popup-window .shop-ct-popup-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px;
  min-height: 36px;
}

.shop-ct-popup-outer .shop-ct-popup-window .shop-ct-popup-footer button {
  margin-left: 10px;
}

.shop-ct-popup-outer .shop-ct-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: -1;
  opacity: .3;
}

@-webkit-keyframes shopCTZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes shopCTZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes shopCTZoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@keyframes shopCTZoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.shop-ct-mat-loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100600;
}

.shop-ct-mat-loader .shop-ct-mat-spinner {
  -webkit-animation: shop-ct-mat-progress-spinner-linear-rotate 2s linear infinite;
          animation: shop-ct-mat-progress-spinner-linear-rotate 2s linear infinite;
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
}

.shop-ct-mat-loader .shop-ct-mat-spinner svg {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  overflow: visible;
}

.shop-ct-mat-loader .shop-ct-mat-spinner svg circle {
  fill: transparent;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: stroke-dashoffset 225ms linear;
  transition: stroke-dashoffset 225ms linear;
  -webkit-transition-property: stroke;
  transition-property: stroke;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
          animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shop-ct-mat-progress-spinner-stroke-rotate-100;
          animation-name: shop-ct-mat-progress-spinner-stroke-rotate-100;
  stroke-dasharray: 282.743px;
  stroke-width: 10%;
  stroke: #f64444;
}

.shop-ct-mat-loader .shop-ct-mat-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: -1;
  opacity: .3;
}

@-webkit-keyframes shop-ct-mat-progress-spinner-linear-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes shop-ct-mat-progress-spinner-linear-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shop-ct-mat-progress-spinner-stroke-rotate-100 {
  0% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  12.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  12.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(72.5deg);
            transform: rotateX(180deg) rotate(72.5deg);
  }
  25% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(72.5deg);
            transform: rotateX(180deg) rotate(72.5deg);
  }
  25.0001% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  37.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  37.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(161.5deg);
            transform: rotateX(180deg) rotate(161.5deg);
  }
  50% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(161.5deg);
            transform: rotateX(180deg) rotate(161.5deg);
  }
  50.0001% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(251.5deg);
            transform: rotateX(180deg) rotate(251.5deg);
  }
  75% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(251.5deg);
            transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  87.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  87.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(341.5deg);
            transform: rotateX(180deg) rotate(341.5deg);
  }
  100% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(341.5deg);
            transform: rotateX(180deg) rotate(341.5deg);
  }
}

@keyframes shop-ct-mat-progress-spinner-stroke-rotate-100 {
  0% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  12.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  12.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(72.5deg);
            transform: rotateX(180deg) rotate(72.5deg);
  }
  25% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(72.5deg);
            transform: rotateX(180deg) rotate(72.5deg);
  }
  25.0001% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  37.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  37.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(161.5deg);
            transform: rotateX(180deg) rotate(161.5deg);
  }
  50% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(161.5deg);
            transform: rotateX(180deg) rotate(161.5deg);
  }
  50.0001% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(251.5deg);
            transform: rotateX(180deg) rotate(251.5deg);
  }
  75% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(251.5deg);
            transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  87.5% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  87.5001% {
    stroke-dashoffset: 56.54867px;
    -webkit-transform: rotateX(180deg) rotate(341.5deg);
            transform: rotateX(180deg) rotate(341.5deg);
  }
  100% {
    stroke-dashoffset: 268.60617px;
    -webkit-transform: rotateX(180deg) rotate(341.5deg);
            transform: rotateX(180deg) rotate(341.5deg);
  }
}

.shop-ct-toastr-wrap {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 999999999;
  padding: 4em;
  pointer-events: none;
}

.shop-ct-toastr {
  margin-bottom: 20px !important;
  background: #4CAF50 !important;
  color: #fff !important;
  padding: 20px 24px !important;
  border-radius: 2px !important;
  border: none !important;
  min-width: 216px;
  max-width: 426px;
  width: auto;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation: shop-ct-show-toastr .15s ease;
          animation: shop-ct-show-toastr .15s ease;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.shop-ct-toastr.error {
  background: #F44336 !important;
  color: #fff !important;
}

.shop-ct-close-toastr {
  -webkit-animation: shop-ct-close-toastr .3s ease;
          animation: shop-ct-close-toastr .3s ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes shop-ct-show-toastr {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes shop-ct-show-toastr {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

/* Standard syntax */
@-webkit-keyframes shop-ct-close-toastr {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
}
@keyframes shop-ct-close-toastr {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
}

.product-image-gallery {
  padding: 0;
  list-style-type: none;
  margin: 15px 0 0;
  font-size: 0;
}

.product-image-gallery li {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  cursor: move;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  vertical-align: top;
}

.product-image-gallery li .product-image-gallery-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-image-gallery li:nth-child(2) .product-image-gallery-inner {
  border: 2px solid #f64444;
}

.product-image-gallery li:nth-child(2) .product-image-gallery-inner:after {
  content: 'Featured Image';
  display: block;
  position: absolute;
  top: -15px;
  left: -2px;
  height: 15px;
  padding: 0 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f64444;
  color: #fff;
  font-size: 9px;
  line-height: 15px;
}

.product-image-gallery li img {
  max-width: 100%;
  max-height: 100%;
}

.product-image-gallery li .product-image-gallery-delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

.product-image-gallery li .product-image-gallery-delete span {
  font-size: 20px;
}

.product-image-gallery .product-image-gallery-add div {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-align: center;
}

.product-image-gallery .product-image-gallery-add:hover {
  background-color: #fefefe;
}

.product-image-gallery .product-image-gallery-add i {
  font-size: 25px;
  color: #757575;
}

.product-image-gallery .product-image-gallery-add span {
  display: block;
  margin-top: 14px;
  font-size: 21px;
}

.shop-ct-product-cat-checklist-items {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.shop-ct-product-cat-checklist-items ul {
  margin-left: 18px;
}

.product-tags-field input[type="text"] {
  min-width: 270px;
}

.product-tags-list {
  margin-top: 20px;
}

.product-tag-item {
  display: inline-block;
  margin: 0 10px 10px 0;
  background: #fefefe;
  padding: 8px 13px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.product-tag-item-name {
  display: inline-block;
  margin-right: 10px;
}

.product-tag-item-delete {
  display: inline-block;
  color: #222;
  cursor: pointer;
}

.product-attributes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-attributes-item input,
.product-attributes-item .product-attribute-taxonomy-placeholder {
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-right: 10px;
  padding: 3px 5px;
}

.product-attributes-item .product-attribute-taxonomy-placeholder {
  border: 2px solid transparent;
}

.product-attributes-item textarea {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  height: 60px;
}

.product-attributes-item .product-attributes-delete {
  display: block;
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
  color: #222;
  cursor: pointer;
}

.product-downloadable-files-block {
  margin-bottom: 20px;
}

.product-downloadable-files-block table input {
  width: 100%;
  height: 27px;
}

.product-downloadable-files-block .file_url {
  position: relative;
}

.product-downloadable-files-block .file_url input {
  padding-right: 100px;
}

.product-downloadable-files-block .file_url button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 90px;
  height: 27px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #4CAF50;
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.product-downloadable-files-block td.sort {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  cursor: move;
}

.product-downloadable-files-block td.remove {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

.product-downloadable-files-block td.remove i {
  color: #a00;
  cursor: pointer;
}

.product-downloadable-files-block td.remove i:hover {
  color: #f00;
}

#shop-ct-products .shop-ct-mat-table img {
  width: 50px;
}

#shop-ct-products .shop-ct-mat-table .out-of-stock {
  font-weight: 700;
  color: #a44;
  background: 0 0;
  line-height: 1;
}

#shop-ct-products .shop-ct-mat-table .in-stock {
  font-weight: 700;
  color: #7ad03a;
  background: 0 0;
  line-height: 1;
}

.shop-ct-shortcode-input {
  width: auto !important;
  min-width: 210px !important;
  height: auto !important;
  margin: 0 !important;
  line-height: 1 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none !important;
}

#shop-ct-order-product-quantity {
  width: 70px;
}

.shop-ct-order-product-qty-input {
  width: 60px;
}

.shop-ct-order-items-list-empty {
  padding: 0 16px;
}

.shop-ct-order-product-name {
  font-weight: 500;
  color: #000;
}

.shop-ct-quantity {
  font-weight: 400;
  color: #555d66;
  font-size: 0.9em;
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 100700;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}

.pika-single:after {
  clear: both;
}

.pika-single {
  *zoom: 1;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

.pika-button {
  cursor: pointer;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
  color: #fff;
  font-weight: bold;
  background: #33aaff;
  -webkit-box-shadow: inset 0 1px 3px #178fe5;
          box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}

.has-event .pika-button {
  background: #005da9;
  -webkit-box-shadow: inset 0 1px 3px #0076c9;
          box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
  background: #D5E9F7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}

.is-outside-current-month .pika-button {
  color: #999;
  opacity: .3;
}

.is-selection-disabled {
  pointer-events: none;
  cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
  color: #fff;
  background: #ff8000;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

.shop-ct {
  font-family: 'Roboto', sans-serif;
  margin-right: 20px;
}

.shop-ct-full-width {
  width: 100%;
}

.shop-ct-text-center {
  text-align: center;
}

.shop-ct-hide {
  display: none;
}

.shop-ct-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-ct-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-ct-justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shop-ct-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shop-ct-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-ct-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-ct-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.shop-ct-flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.shop-ct-flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.shop-ct-flex-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.shop-ct-margin-left-15 {
  margin-left: 15px;
}

.shop-ct-margin-top-15 {
  margin-top: 15px !important;
}

.shop-ct-vertical-align-middle {
  vertical-align: middle;
}

.shop-ct-field,
.shop-ct-field-group {
  margin-top: 20px;
}

.shop-ct-field-label {
  display: block;
  color: #757575;
  font-size: 16px;
}

.shop-ct-waterfall-grid-column {
  float: left;
}

.shop-ct-popup-grid {
  display: table;
  width: 100%;
  margin-top: 15px;
  clear: both;
}

.shop-ct-popup-grid .shop-ct-grid-item {
  /*width:calc(50% - 60px);*/
  padding: 20px;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .shop-ct-popup-grid .shop-ct-grid-item {
    width: calc(100% - 60px);
  }
}

#product_content {
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ui-shop-ct-image-placeholder {
  height: 120px;
  width: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff !important;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.shop-ct-page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px 0;
}

.shop-ct-page-heading .shop-ct-page-meta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 760px) {
  .shop-ct-page-heading .shop-ct-page-meta {
    margin-bottom: 20px;
  }
}

.shop-ct-page-heading .shop-ct-page-meta .shop-ct-page-title {
  line-height: 36px;
  margin: 0 20px 0 0;
}

.shop-ct-page-heading .shop-ct-page-actions input {
  width: 300px;
}

@media (max-width: 760px) {
  .shop-ct-page-heading .shop-ct-page-actions input {
    width: 210px;
  }
}

.shop-ct-page-heading .shop-ct-page-actions button {
  margin-left: 10px;
}
