@import "../variables";
@import "../shop-ct-material";
@import "../shop-ct-popup";
@import "../shop-ct-loader";
@import "../shop-ct-toastr";
@import "products";
@import "categories";
@import "orders";
@import "../pikaday";


@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

.shop-ct {
  font-family: 'Roboto', sans-serif;
  margin-right: 20px;

}

.shop-ct-full-width {
  width: 100%;
}

.shop-ct-text-center {
  text-align: center;
}

.shop-ct-hide {
  display: none;
}

.shop-ct-flex {
  display: flex;
}

.shop-ct-justify-between {
  justify-content: space-between;
}

.shop-ct-justify-space-around {
  justify-content: space-around;
}

.shop-ct-align-end {
  align-items: flex-end;
}

.shop-ct-align-center {
  align-items: center;
}

.shop-ct-flex-wrap {
  flex-wrap: wrap;
}

.shop-ct-flex-1 {
  flex:1;
}

.shop-ct-flex-2 {
  flex:2;
}

.shop-ct-flex-3 {
  flex:3;
}

.shop-ct-flex-4 {
  flex:4;
}

.shop-ct-margin-left-15 {
  margin-left: 15px;
}

.shop-ct-margin-top-15 {
  margin-top: 15px !important;
}

.shop-ct-vertical-align-middle {
  vertical-align: middle;
}

.shop-ct-field,
.shop-ct-field-group {
  margin-top:20px;
}

.shop-ct-field-label {
  display: block;
  color: #757575;
  font-size: 16px;
}

.shop-ct-waterfall-grid-container {

}

.shop-ct-waterfall-grid-box {

}

.shop-ct-waterfall-grid-column {
  float: left;
}

.shop-ct-popup-grid {
  display: table;
  width:100%;
  margin-top: 15px;
  clear: both;
}

.shop-ct-popup-grid .shop-ct-grid-item {
  /*width:calc(50% - 60px);*/
  padding:20px;
  margin:10px;
}

@media screen and (max-width:800px) {
  .shop-ct-popup-grid .shop-ct-grid-item {
    width: calc(100% - 60px);
  }
}

#product_content {
  width: 100%;
  border: none;
  box-shadow: none;
}

.ui-shop-ct-image-placeholder {
  height:120px;
  width:120px;
  box-sizing:border-box;
  background:#fff !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}


.shop-ct-table-item-title {

}

.shop-ct-page-heading {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 20px 0;

  .shop-ct-page-meta {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 760px) {
      margin-bottom: 20px;
    }

    .shop-ct-page-title {
      line-height: 36px;
      margin: 0 20px 0 0;
    }
  }

  .shop-ct-page-actions {
    input {
      width: 300px;

      @media (max-width: 760px) {
        width: 210px;
      }
    }

    button {
      margin-left: 10px;
    }
  }


}