#shop-ct-order-product-quantity {
  width: 70px;
}

.shop-ct-order-product-qty-input {
  width: 60px;
}

.shop-ct-order-items-list-empty {
  padding: 0 16px;
}

.shop-ct-order-product-name {
  font-weight: 500;
  color: #000;
}

.shop-ct-quantity {
  font-weight: 400;
  color: #555d66;
  font-size: 0.9em;
}