.product-image-gallery {
  padding:0;
  list-style-type:none;
  margin: 15px 0 0;
  font-size:0;
}

.product-image-gallery li {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  cursor: move;
  margin-right:10px;
  margin-bottom:10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color:#fff;
  vertical-align: top;
}

.product-image-gallery li .product-image-gallery-inner {
  position:relative;
  display: flex;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.product-image-gallery li:nth-child(2) .product-image-gallery-inner {
  border:2px solid #f64444;
}

.product-image-gallery li:nth-child(2) .product-image-gallery-inner:after {
  content: 'Featured Image';
  display: block;
  position: absolute;
  top: -15px;
  left: -2px;
  height: 15px;
  padding: 0 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f64444;
  color: #fff;
  font-size: 9px;
  line-height: 15px;
}

.product-image-gallery li img {
  max-width: 100%;
  max-height: 100%;
}

.product-image-gallery li .product-image-gallery-delete {
  position: absolute;
  top:0;
  right: 0;
  background-color:#fff;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:15px;
  box-shadow: 0 0 3px 2px rgba(0,0,0,.1);
}

.product-image-gallery li .product-image-gallery-delete span {
  font-size: 20px;
}

.product-image-gallery .product-image-gallery-add div {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align:center;
}

.product-image-gallery .product-image-gallery-add:hover {
  background-color:#fefefe;
}

.product-image-gallery .product-image-gallery-add i {
  font-size: 25px;
  color:rgb(117, 117, 117);
}

.product-image-gallery .product-image-gallery-add span {
  display: block;
  margin-top: 14px;
  font-size: 21px;
}

.shop-ct-product-cat-checklist-items {
  width:100%;
  max-height: 200px;
  overflow: auto;
}

.shop-ct-product-cat-checklist-items ul {
  margin-left: 18px;
}

.product-tags-field input[type="text"] {
  min-width:270px;
}

.product-tags-list {
  margin-top: 20px;
}

.product-tag-item {
  display: inline-block;
  margin: 0 10px 10px 0;
  background: #fefefe;
  padding: 8px 13px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
  font-size: 15px;
}

.product-tag-item-name {
  display: inline-block;
  margin-right:10px;
}

.product-tag-item-delete {
  display: inline-block;
  color:#222;
  cursor:pointer;
}

.product-attributes-item {
  display: flex;
  margin:10px 0;
  justify-content: space-between;
  align-items: flex-start;
}

.product-attributes-item input,
.product-attributes-item .product-attribute-taxonomy-placeholder {
  width:100%;
  flex: 3;
  margin-right:10px;
  padding:3px 5px;
}

.product-attributes-item .product-attribute-taxonomy-placeholder {
  border: 2px solid transparent;
}

.product-attributes-item textarea {
  flex: 6;
  height: 60px;
}

.product-attributes-item .product-attributes-delete {
  display: block;
  text-align: right;
  flex:1;
  font-size:24px;
  color:#222;
  cursor: pointer;
}

.product-downloadable-files-block {
  margin-bottom: 20px;
}

.product-downloadable-files-block table input {
  width:100%;
  height: 27px;
}

.product-downloadable-files-block .file_url {
  position: relative;
}

.product-downloadable-files-block .file_url input {
  padding-right:100px;
}

.product-downloadable-files-block .file_url button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 90px;
  height: 27px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #4CAF50;
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
  transition: all .15s ease;
}

.product-downloadable-files-block td.sort {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  cursor: move;
}

.product-downloadable-files-block td.remove {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

.product-downloadable-files-block td.remove i {
  color:#a00;
  cursor: pointer;
}

.product-downloadable-files-block td.remove i:hover {
  color:#f00;
}

#shop-ct-products {
  .shop-ct-mat-table {
    img {
      width:50px;
    }

    .out-of-stock {
      font-weight: 700;
      color: #a44;
      background: 0 0;
      line-height: 1;
    }

    .in-stock {
      font-weight: 700;
      color: #7ad03a;
      background: 0 0;
      line-height: 1;
    }
  }
}

.shop-ct-shortcode-input {
  width: auto !important;
  min-width: 210px !important;
  height: auto !important;
  margin: 0 !important;
  line-height: 1 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
}