.shop-ct-toastr-wrap {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 999999999;
  padding:4em;
  pointer-events: none;
}

.shop-ct-toastr {
  margin-bottom: 20px !important;
  background: #4CAF50 !important;
  color: #fff !important;
  padding: 20px 24px !important;
  border-radius: 2px !important;
  border:none !important;
  min-width: 216px;
  max-width: 426px;
  width: auto;
  transition: all .3s ease;
  animation: shop-ct-show-toastr .15s ease;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight:500;
}

.shop-ct-toastr.error {
  background: #F44336 !important;
  color:#fff !important;
}

.shop-ct-close-toastr {
  animation: shop-ct-close-toastr .3s ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes shop-ct-show-toastr {
  from {transform: translateX(200%);opacity:0}
  to {transform: translateX(0%);opacity:1}
}

/* Standard syntax */
@keyframes shop-ct-show-toastr {
  from {transform: translateX(200%);opacity:0}
  to {transform: translateX(0%);opacity:1}
}

/* Standard syntax */
@keyframes shop-ct-close-toastr {
  from {transform: translateX(0%);opacity:1}
  to {transform: translateX(200%);opacity:0}
}