.shop-ct-popup-outer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100500;

  .shop-ct-popup-window {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - 200px);
    /*min-width: 640px;*/
    /*max-width: 865px;*/
    max-width: 966px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-name: shopCTZoomIn;

    @media (max-width: 430px) {
      width: calc(100% - 50px);
    }

    img {
      max-width: 100%;
    }

    &.shop-ct-popup--closing {
      animation-name: shopCTZoomOut;
    }

    .shop-ct-popup-title-block {
      display: flex;
      align-items: center;
      padding: 24px 24px 0;

      .shop-ct-popup-title {
        margin: 0;
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: .0125em;
      }
    }

    .shop-ct-popup-content {
      color: rgba(0,0,0,.54);
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      letter-spacing: .03125em;
      margin-top: 20px;
      padding: 0 24px 24px;
    }

    .shop-ct-popup-title-block ~ .shop-ct-popup-content {
      max-height: 300px;
      border-top: 1px solid rgba(0,0,0,.1);
      border-bottom: 1px solid rgba(0,0,0,.1);
      overflow-x: auto;
      overflow-y: scroll;
    }

    .shop-ct-popup-title-block ~ .shop-ct-popup-content.shop-ct-popup-content--large {
      max-height: calc(100vh - 300px);;
    }

    .shop-ct-popup-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding: 8px;
      min-height: 36px;

      button {
        margin-left: 10px;
      }
    }
  }

  .shop-ct-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.87);
    z-index: -1;
    opacity: .3;
  }
}

@keyframes shopCTZoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes shopCTZoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}