@import "~material-design-icons/iconfont/material-icons.css";
@import "variables";

.shop-ct-fixed-actions {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100000;
}

.shop-ct-mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background: #fff;
  color: rgba(0,0,0,.87);

  .shop-ct-mat-card-title {
    display: block;
    margin-bottom: 16px;
    margin-top:0;
    font-size: 24px;
    font-weight: 400;
  }

  .shop-ct-mat-card-actions {
    text-align:right;
  }
}

.shop-ct-mat-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 60px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  transition: all .15s linear;
  color: $shop-ct-primary-color;
  background: transparent;
  overflow: hidden;
  outline: none;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    color: $shop-ct-primary-color;
    outline: none;
    box-shadow: none;
  }

  &:not(.shop-ct-mat-button--raised):before {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    background: $shop-ct-primary-color;
  }

  &.shop-ct-mat-button--primary {
    background-color:$shop-ct-primary-color !important;
    color:#fff !important;
  }

  &.shop-ct-mat-button--secondary {
    color:$shop-ct-secondary-color;

    &:not(.shop-ct-mat-button--raised):before {
      background: $shop-ct-secondary-color;
    }

    &.shop-ct-mat-button--raised {
      background-color: $shop-ct-secondary-color;
      color:#fff;
    }
  }

  &:not(.shop-ct-mat-button--raised):hover:before {
    opacity: .04;
  }


  &.shop-ct-mat-button--raised {
    background-color:#fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }

  &:active {
    transform: scale(0.9);
  }

  &.shop-ct-mat-button--round {
    border-radius: 100%;
    width: 56px;
    height: 56px;
    padding: 0;
    line-height: 50px;
    min-width: unset;
  }

  &:disabled,
  &.shop-ct-disabled {
    color: rgba(0,0,0,.37);
  }
}


.shop-ct-mat-input-outer-label {
  display: inline-block;
  margin-top: 35px;
  color: #757575;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.shop-ct-mat-input-text {
  position: relative;
  margin-top: 35px;
  display:inline-block;
}

.shop-ct-mat-input-text input,
.shop-ct-mat-input-text textarea {
  width:100%;
  border: none;
  border-bottom:1px solid rgba(0,0,0,0.12);
  background-color: transparent;
  display: block;
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  height: 24px;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 0;
  z-index: 0;
  text-align: left;
  box-shadow: none !important;
}

.shop-ct-mat-input-text textarea {
  height: 40px;
  min-height: 25px;
}

.shop-ct-mat-input-text input ~ span,
.shop-ct-mat-input-text textarea ~ span {
  content:'';
  display:block;
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: $shop-ct-primary-color;
  bottom: -1px;
  height: 2px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  transform-origin: center center 0;
  transition:transform .3s cubic-bezier(0.4,0,0.2,1);
}

.shop-ct-mat-input-text input:focus ~ span,
.shop-ct-mat-input-text textarea:focus ~ span {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.shop-ct-mat-input-text input ~ label,
.shop-ct-mat-input-text textarea ~ label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
  pointer-events: none;
  bottom: 3px;
  width: 100%;
}

.shop-ct-mat-input-text input:focus ~ label,
.shop-ct-mat-input-text input:not([value=""]) ~ label {
  transform: scale(.75) translateY(-32px);
}

.shop-ct-mat-input-text textarea:focus ~ label,
.shop-ct-mat-input-text textarea:not(:empty) ~ label {
  font-size: 12px;
  top: -15px;
}


.shop-ct-mat-input-text input:focus~label,
.shop-ct-mat-input-text textarea:focus~label {
  color:$shop-ct-primary-color;
}


.shop-ct-mat-input-checkbox {
  display: flex;

  justify-content: flex-start;
  align-content: center;
  align-items: center;
  line-height: 24px;
  font-size: 16px;
  color:#757575;
}

.shop-ct-mat-input-checkbox-slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right:8px;
}

.shop-ct-mat-input-checkbox-slider input[type=checkbox] {
  display:none;
}

.shop-ct-mat-input-checkbox-slider span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.shop-ct-mat-input-checkbox-slider span:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

.shop-ct-mat-input-checkbox-slider input:checked ~ span {
  background-color: $shop-ct-primary-color;
}

.shop-ct-mat-input-checkbox-slider input:focus ~ span {
  box-shadow: 0 0 1px #2196F3;
}

.shop-ct-mat-input-checkbox-slider input:checked ~ span:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.shop-ct-mat-input-select {
  position: relative;
}

.shop-ct-mat-input-label,
.shop-ct-mat-input-select label {
  display: block;
  margin-bottom: 10px;
  color: #757575;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.shop-ct-mat-input-select select {
  width: 100%;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}



ul.shop-ct-mat-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: inherit;
  text-transform: inherit;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 8px 0;
  line-height: 24px;
  list-style-type: none;

  .shop-ct-mat-list-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    padding: 0 16px;
    overflow: hidden;

    .shop-ct-mat-list-item--graphic {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      margin-left: 0;
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.38);
    }

    .shop-ct-mat-list-item--meta {
      display: inline-flex;
      margin-left: auto;
      margin-right: 0;
      color: rgba(0, 0, 0, 0.38);
    }
  }
}

// Mixins
// -----------------
@mixin shop-ct-transition($transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin shop-ct-shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
  0 1px 2px 0 rgba(0,0,0,.24);
  -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
  0 1px 2px 0 rgba(0,0,0,.24);
  box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
  0 1px 2px 0 rgba(0,0,0,.24);
}

// Tables
//
// -----------------

// Baseline styles
.shop-ct-mat-table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: $shop-ct-mat-table-bg;
  border-collapse: collapse;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      @include shop-ct-transition(all .3s ease);
      > th,
      > td {
        text-align: left;
        padding: $shop-ct-mat-table-cell-padding;
        vertical-align: top;
        border-top: 0;
        @include shop-ct-transition(all .3s ease);
      }
    }
  }
  > thead > tr > th {
    font-weight: $shop-ct-mat-table-header-font-weight;
    color: $shop-ct-mat-table-header-font-color;
    font-size: 16px;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  > tfoot > tr > td {
    font-weight: $shop-ct-mat-table-header-font-weight;
    color: $shop-ct-mat-table-header-font-color;
    vertical-align: bottom;
    border-top: 1px solid rgba(0,0,0,.12);
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  // Nesting
  .shop-ct-mat-table{
    background-color: $shop-ct-mat-table-bg;
  }

  // Remove border
  .shop-ct-no-border {
    border: 0;
  }

  img {
    max-width: 50px;
  }
}

// Condensed table w/ half padding
.shop-ct-mat-table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $shop-ct-mat-table-condensed-cell-padding;
      }
    }
  }
}


// Bordered version
//
// Add horizontal borders between columns.
.shop-ct-mat-table-bordered {
  border: 0;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0;
        border-bottom: 1px solid $shop-ct-mat-table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.shop-ct-mat-table-striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: $shop-ct-mat-table-bg-accent;
    }
  }
}

// Hover effect
//
.shop-ct-mat-table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: $shop-ct-mat-table-bg-hover;
    }
  }
}

// Responsive tables (vertical)
//
// Wrap your tables in `.shop-ct-mat-table-responsive-vertical` and we'll make them mobile friendly
// by vertical table-cell display. Only applies <768px. Everything above that will display normally.
// For correct display you must add 'data-title' to each 'td'
.shop-ct-mat-table-responsive-vertical {

  @media screen and (max-width: 768px) {

    // Tighten up spacing
    > .shop-ct-mat-table{
      margin-bottom: 0;
      background-color: transparent;
      > thead,
      > tfoot {
        display: none;
      }

      > tbody {
        display: block;

        > tr {
          display: block;
          border: 1px solid $shop-ct-mat-table-border-color;
          border-radius: 2px;
          margin-bottom: $shop-ct-mat-table-cell-padding;

          > td {
            background-color: $shop-ct-mat-table-bg;
            display: block;
            vertical-align: middle;
            text-align: right;
          }
          > td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            font-weight: $shop-ct-mat-table-header-font-weight;
            color: $shop-ct-mat-table-header-font-color;
          }
        }
      }
    }

    // Special overrides for shadows
    &.shop-ct-shadow-z-1 {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      > .shop-ct-mat-table> tbody > tr {
        border: none;
        @include shop-ct-shadow-z-1();
      }
    }

    // Special overrides for the bordered tables
    > .shop-ct-mat-table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > tbody {
        > tr {
          > td {
            border: 0;
            border-bottom: 1px solid $shop-ct-mat-table-border-color;
          }
          > td:last-child {
            border-bottom: 0;
          }
        }
      }
    }

    // Special overrides for the striped tables
    > .shop-ct-mat-table-striped {
      > tbody > tr > td,
      > tbody > tr:nth-child(odd) {
        background-color: $shop-ct-mat-table-bg;
      }
      > tbody > tr > td:nth-child(odd) {
        background-color: $shop-ct-mat-table-bg-accent;
      }
    }

    // Special overrides for hover tables
    > .shop-ct-mat-table-hover {
      > tbody {
        > tr:hover > td,
        > tr:hover {
          background-color: $shop-ct-mat-table-bg;
        }
        > tr > td:hover {
          background-color: $shop-ct-mat-table-bg-hover;
        }
      }
    }
  }
}


.shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr:nth-child(odd) > td,
.shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr:nth-child(odd) > th {
  background-color: #e1f5fe;
}
.shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover > td,
.shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover > th {
  background-color: #b3e5fc;
}
@media screen and (max-width: 767px) {
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr > td,
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr:nth-child(odd) {
    background-color: $shop-ct-mat-table-bg;
  }
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-striped.shop-ct-mat-table-mc-light-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e1f5fe;
  }
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover > td,
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr:hover {
    background-color: $shop-ct-mat-table-bg;
  }
  .shop-ct-mat-table-responsive-vertical .shop-ct-mat-table-hover.shop-ct-mat-table-mc-light-blue > tbody > tr > td:hover {
    background-color: #b3e5fc;
  }
}







