$shop-ct-primary-color: #f64444;
$shop-ct-secondary-color: #ffd24c;

$shop-ct-mat-table-header-font-weight:      400;
$shop-ct-mat-table-header-font-color:       #757575;

$shop-ct-mat-table-cell-padding:            1.6rem;
$shop-ct-mat-table-condensed-cell-padding:  $shop-ct-mat-table-cell-padding/2;


$shop-ct-mat-table-bg:                      #fff;
$shop-ct-mat-table-bg-accent:               #f5f5f5;
$shop-ct-mat-table-bg-hover:                rgba(0,0,0,.12);
$shop-ct-mat-table-bg-active:               $shop-ct-mat-table-bg-hover;
$shop-ct-mat-table-border-color:            #e0e0e0;